In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

train = pd.read_csv(r'data/dataset.csv')
df = train.copy()
df.head()

,Id,Diabetes family history,Age,No of days physically active per week,High cholesterol level,Ate fast food during last 12 months,Sleep time,Gender,Weight,HDL Cholesterol,...,Pulse,Chest pain,Arthritis,High blood pressure,Heart attack,Stroke,BMI,At least 12 alcoholic drinks during lifetime,At least 12 alcoholic drinks during any year,Liver Condition
0,1,NaN,69,NaN,1.0,1.0,7.0,1,78.3,65.0,...,86.0,2.0,1.0,1.0,2.0,1.0,26.7,NaN,1.0,2.0
1,2,NaN,54,NaN,1.0,1.0,9.0,1,89.5,50.0,...,74.0,1.0,2.0,1.0,2.0,2.0,28.6,NaN,1.0,2.0
2,3,NaN,72,NaN,1.0,2.0,8.0,1,88.9,60.0,...,68.0,2.0,2.0,1.0,2.0,2.0,28.9,NaN,1.0,2.0
3,4,NaN,33,5.0,NaN,NaN,NaN,1,32.2,61.0,...,64.0,NaN,NaN,NaN,NaN,NaN,17.1,NaN,NaN,NaN
4,5,2.0,78,NaN,2.0,1.0,9.0,2,52.0,85.0,...,92.0,2.0,1.0,1.0,2.0,2.0,19.7,NaN,1.0,2.0

In [3]:
df.tail()

,Id,Diabetes family history,Age,No of days physically active per week,High cholesterol level,Ate fast food during last 12 months,Sleep time,Gender,Weight,HDL Cholesterol,...,Pulse,Chest pain,Arthritis,High blood pressure,Heart attack,Stroke,BMI,At least 12 alcoholic drinks during lifetime,At least 12 alcoholic drinks during any year,Liver Condition
9808,9809,2.0,41,NaN,2.0,2.0,7.0,2,71.8,55.0,...,60.0,2.0,2.0,2.0,2.0,2.0,24.5,NaN,NaN,2.0
9809,9810,NaN,50,NaN,NaN,NaN,NaN,1,11.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.9,NaN,NaN,NaN
9810,9811,2.0,30,NaN,2.0,1.0,5.0,1,89.6,48.0,...,80.0,NaN,2.0,2.0,2.0,2.0,34.0,NaN,NaN,2.0
9811,9812,2.0,65,NaN,2.0,1.0,7.0,2,22.8,51.0,...,NaN,2.0,2.0,2.0,2.0,2.0,16.1,NaN,1.0,2.0
9812,9813,2.0,63,NaN,2.0,1.0,8.0,2,42.3,NaN,...,90.0,2.0,2.0,1.0,2.0,2.0,19.3,NaN,1.0,2.0

In [4]:
df.describe()

,Id,Diabetes family history,Age,No of days physically active per week,High cholesterol level,Ate fast food during last 12 months,Sleep time,Gender,Weight,HDL Cholesterol,...,Pulse,Chest pain,Arthritis,High blood pressure,Heart attack,Stroke,BMI,At least 12 alcoholic drinks during lifetime,At least 12 alcoholic drinks during any year,Liver Condition
count,9813.00000,6232.000000,9813.000000,2887.000000,6229.000000,6229.000000,6227.000000,9813.000000,9723.000000,7624.000000,...,7549.000000,3680.000000,5561.000000,6229.000000,5561.000000,5561.000000,9055.000000,1576.000000,5223.000000,5561.000000
mean,4907.00000,1.887356,45.974524,5.805681,1.723712,1.163429,7.050104,1.509426,62.599054,53.105194,...,74.416214,1.773913,1.754720,1.669289,1.964035,1.970149,25.678244,1.595812,1.312464,1.972127
std,2832.91343,0.520318,15.619148,5.354061,0.711127,0.369786,3.398200,0.499937,32.331616,15.230838,...,12.367969,0.453279,0.562215,0.516077,0.254742,0.263159,7.955137,0.619028,0.548327,0.357519
min,1.00000,1.000000,18.000000,0.000000,1.000000,1.000000,2.000000,1.000000,3.100000,10.000000,...,40.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.100000,1.000000,1.000000,1.000000
25%,2454.00000,2.000000,34.000000,4.000000,1.000000,1.000000,6.000000,1.000000,37.950000,42.000000,...,66.000000,2.000000,1.000000,1.000000,2.000000,2.000000,19.700000,1.000000,1.000000,2.000000
50%,4907.00000,2.000000,43.000000,7.000000,2.000000,1.000000,7.000000,2.000000,65.300000,51.000000,...,74.000000,2.000000,2.000000,2.000000,2.000000,2.000000,24.700000,2.000000,1.000000,2.000000
75%,7360.00000,2.000000,56.000000,7.000000,2.000000,1.000000,8.000000,2.000000,83.500000,61.000000,...,82.000000,2.000000,2.000000,2.000000,2.000000,2.000000,30.200000,2.000000,2.000000,2.000000
max,9813.00000,9.000000,80.000000,99.000000,9.000000,2.000000,99.000000,2.000000,222.600000,173.000000,...,180.000000,9.000000,9.000000,9.000000,9.000000,9.000000,82.900000,9.000000,9.000000,9.000000

In [5]:
df.shape

(9813, 43)

In [6]:
df.columns

Index(['Id', 'Diabetes family history', 'Age',
       'No of days physically active per week', 'High cholesterol level',
       'Ate fast food during last 12 months', 'Sleep time', 'Gender', 'Weight',
       'HDL Cholesterol', 'LDL Cholesterol', 'Total Cholesterol',
       'Total calcium', 'Height', 'Red blood cell count',
       'White blood cell count', 'Platelet count', 'Hemoglobin', 'Hematocrit',
       'Glucose', 'Sodium', 'Potassium', 'Bicarbonate', 'Chloride',
       'Blood urea nitrogen', 'Creatinine', 'Albumin', 'Total protein',
       'Alkaline phosphatase', 'Alanine aminotransferase',
       'Aspartate aminotransferase', 'Total bilirubin', 'Heart Rate', 'Pulse',
       'Chest pain', 'Arthritis', 'High blood pressure', 'Heart attack',
       'Stroke', 'BMI', 'At least 12 alcoholic drinks during lifetime',
       'At least 12 alcoholic drinks during any year', 'Liver Condition'],
      dtype='object')

In [7]:
df.isnull().sum()

Id                                                 0
Diabetes family history                         3581
Age                                                0
No of days physically active per week           6926
High cholesterol level                          3584
Ate fast food during last 12 months             3584
Sleep time                                      3586
Gender                                             0
Weight                                            90
HDL Cholesterol                                 2189
LDL Cholesterol                                 6708
Total Cholesterol                               2189
Total calcium                                   3302
Height                                           746
Red blood cell count                            1269
White blood cell count                          1269
Platelet count                                  1269
Hemoglobin                                      1269
Hematocrit                                      1269
Glucose                                         3260
Sodium                                          3260
Potassium                                       3261
Bicarbonate                                     3260
Chloride                                        3260
Blood urea nitrogen                             3260
Creatinine                                      3260
Albumin                                         3260
Total protein                                   3269
Alkaline phosphatase                            3261
Alanine aminotransferase                        3262
Aspartate aminotransferase                      3262
Total bilirubin                                 3264
Heart Rate                                      7852
Pulse                                           2264
Chest pain                                      6133
Arthritis                                       4252
High blood pressure                             3584
Heart attack                                    4252
Stroke                                          4252
BMI                                              758
At least 12 alcoholic drinks during lifetime    8237
At least 12 alcoholic drinks during any year    4590
Liver Condition                                 4252
dtype: int64